TITLE: Directory info
REQUIRES: OSTYPE=posix
PROCESS: pwd
PROCESS_MONITOR_ARGS: -T "Current directory" --open
PROCESS: ls
PROCESS_MONITOR_ARGS: -T "Directory contents"

TITLE: Environment settings
REQUIRES: OSTYPE=posix
PROCESS: printenv
PROCESS_MONITOR_ARGS: -T "Environment settings" --open

TITLE: Directory info
REQUIRES: OSTYPE=nt
PROCESS: cmd.exe /c chdir
PROCESS_MONITOR_ARGS: -T "Current directory" --open
PROCESS: cmd.exe /c dir
PROCESS_MONITOR_ARGS: -T "Directory contents"

TITLE: Environment settings
REQUIRES: OSTYPE=nt
PROCESS: cmd.exe /c set
PROCESS_MONITOR_ARGS: -T "Environment settings" --open
