INCLUDE: $GC_HOME/contrib/MITRE/templates/pm_settings.config
EXPAND: $BINARY_HOME $GC_HOME/contrib/MITRE/examples/binary_data
SUPPRESS_EXPANSIONS:

TITLE: Binary audio in frames for C
PROCESS: $BINARY_HOME/$BINDIR/audio_binary -assert
PROCESS_MONITOR_ARGS: -T "Audio binary" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $BINARY_HOME/audio.pgm -init ":audiofile $BINARY_HOME/../audio/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Binary data in frames for C
PROCESS: $BINARY_HOME/$BINDIR/data_binary -assert
PROCESS_MONITOR_ARGS: -T "Binary data" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $BINARY_HOME/binary.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: MGalaxy binary data in frames for C
PROCESS: $BINARY_HOME/$BINDIR/mgal_data_binary -assert
PROCESS_MONITOR_ARGS: -T "Binary data" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $BINARY_HOME/binary.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

# And now, other programming languages.

# Python.

TITLE: Binary audio in frames for Python
REQUIRES: PYTHONBIN PYINCLUDE
PROCESS: $PYTHONBIN $BINARY_HOME/python/audio_binary.py -assert
PROCESS_MONITOR_ARGS: -T "Audio binary" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $BINARY_HOME/audio.pgm -init ":audiofile $BINARY_HOME/../audio/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Binary data in frames for Python
PROCESS: $PYTHONBIN $BINARY_HOME/python/data_binary.py -assert
PROCESS_MONITOR_ARGS: -T "Binary data" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $BINARY_HOME/binary.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: MGalaxy binary data in frames for Python
PROCESS: $PYTHONBIN $BINARY_HOME/python/mgal_data_binary.py -assert
PROCESS_MONITOR_ARGS: -T "Binary data" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $BINARY_HOME/binary.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open


# Allegro.

TITLE: Binary audio in frames for Allegro
REQUIRES: ALLEGROBIN
PROCESS: $BINARY_HOME/acl/audio_binary -assert
PROCESS_MONITOR_ARGS: -T "Audio binary" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $BINARY_HOME/audio.pgm -init ":audiofile $BINARY_HOME/../audio/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

# Java

TITLE: Binary audio in frames for Java
REQUIRES: JDK_HOME
PROCESS: $JDK_HOME/bin/java -classpath .$:$BINARY_HOME/java/binary_example.jar$:$GC_JAR MainBinary -assert
PROCESS_MONITOR_ARGS: -T "Audio binary" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $BINARY_HOME/audio.pgm -init ":audiofile $BINARY_HOME/../audio/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open
