INCLUDE: $GC_HOME/contrib/MITRE/templates/pm_settings.config
EXPAND: $MAINLOOP_HOME $GC_HOME/contrib/MITRE/examples/simple_mainloop
EXPAND: $DOUBLE_HOME $GC_HOME/contrib/MITRE/examples/double
EXPAND: $AUDIO_HOME $GC_HOME/contrib/MITRE/examples/audio
SUPPRESS_EXPANSIONS:

TITLE: Simple external mainloop double for C
PROCESS: $MAINLOOP_HOME/$BINDIR/mainloop_double -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Simple mainloop basic double for C
PROCESS: $MAINLOOP_HOME/$BINDIR/basic_double -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: External mainloop brokering for C
PROCESS: $MAINLOOP_HOME/$BINDIR/mainloop_testaudio_send -assert
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open
PROCESS: $MAINLOOP_HOME/$BINDIR/mainloop_testaudio_receive -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/audio.pgm -init ":broker_method original_comm :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open
