INCLUDE: $GC_HOME/contrib/MITRE/templates/pm_settings.config
EXPAND: $DEMO_ROOT $GC_HOME/contrib/MITRE/demos/toy-travel
EXPAND: $XMLIZER $GC_HOME/contrib/MITRE/tools/src/xmlizer
SUPPRESS_EXPANSIONS:

TITLE: Show the log
PROCESS: $PYTHONBIN $XMLIZER/xml_summarize.py --rule_base $DEMO_ROOT/annotation_rules.xml sls
PROCESS_TITLE: Summarizer
PROCESS_MONITOR_ARGS: --open
