INCLUDE: $GC_HOME/contrib/MITRE/templates/pm_settings.config
EXPAND: $AUDIO_HOME $GC_HOME/contrib/MITRE/examples/audio
SUPPRESS_EXPANSIONS:

TITLE: Original connection brokering for C
PROCESS: $AUDIO_HOME/$BINDIR/testaudio_send -assert
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open
PROCESS: $AUDIO_HOME/$BINDIR/testaudio_receive -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/audio.pgm -init ":broker_method original_comm :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Client environment double brokering for C
PROCESS: $AUDIO_HOME/$BINDIR/testaudio_receive -port 18000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 1" --open
PROCESS: $AUDIO_HOME/$BINDIR/testaudio_receive -port 19000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 2" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/client_double_audio.pgm -init ":broker_method original_env :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open
PROCESS: $AUDIO_HOME/$BINDIR/testaudio_send -contact_hub localhost:12345
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open

TITLE: Environment double brokering for C
PROCESS: $AUDIO_HOME/$BINDIR/testaudio_send -assert
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open
PROCESS: $AUDIO_HOME/$BINDIR/testaudio_receive -port 18000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 1" --open
PROCESS: $AUDIO_HOME/$BINDIR/testaudio_receive -port 19000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 2" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/double_audio.pgm -init ":broker_method original_env :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Environment brokering for C
PROCESS: $AUDIO_HOME/$BINDIR/testaudio_send -assert
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open
PROCESS: $AUDIO_HOME/$BINDIR/testaudio_receive -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/env_audio.pgm -init ":broker_method proxy_obj :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

# And now, the other programming languages.

# Python.

TITLE: Original connection brokering for Python
REQUIRES: PYTHONBIN PYINCLUDE
PROCESS: $PYTHONBIN $AUDIO_HOME/python/testaudio_send.py -assert
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open
PROCESS: $PYTHONBIN $AUDIO_HOME/python/testaudio_receive.py -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/audio.pgm -init ":broker_method original_comm :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Client environment double brokering for Python
REQUIRES: PYTHONBIN PYINCLUDE
PROCESS: $PYTHONBIN $AUDIO_HOME/python/testaudio_receive.py -port 18000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 1" --open
PROCESS: $PYTHONBIN $AUDIO_HOME/python/testaudio_receive.py -port 19000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 2" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/client_double_audio.pgm -init ":broker_method original_env :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open
PROCESS: $PYTHONBIN $AUDIO_HOME/python/testaudio_send.py -contact_hub localhost:12345
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open

TITLE: Environment double brokering for Python
REQUIRES: PYTHONBIN PYINCLUDE
PROCESS: $PYTHONBIN $AUDIO_HOME/python/testaudio_send.py -assert
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open
PROCESS: $PYTHONBIN $AUDIO_HOME/python/testaudio_receive.py -port 18000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 1" --open
PROCESS: $PYTHONBIN $AUDIO_HOME/python/testaudio_receive.py -port 19000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 2" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/double_audio.pgm -init ":broker_method original_env :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Environment brokering for Python
REQUIRES: PYTHONBIN PYINCLUDE
PROCESS: $PYTHONBIN $AUDIO_HOME/python/testaudio_send.py -assert
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open
PROCESS: $PYTHONBIN $AUDIO_HOME/python/testaudio_receive.py -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/env_audio.pgm -init ":broker_method proxy_obj :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

# Allegro

TITLE: Original connection brokering for Allegro
REQUIRES: ALLEGROBIN
PROCESS: $AUDIO_HOME/acl/testaudio_send -assert
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open
PROCESS: $AUDIO_HOME/acl/testaudio_receive -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/audio.pgm -init ":broker_method original_comm :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Client environment double brokering for Allegro
REQUIRES: ALLEGROBIN
PROCESS: $AUDIO_HOME/acl/testaudio_receive -port 18000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 1" --open
PROCESS: $AUDIO_HOME/acl/testaudio_receive -port 19000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 2" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/client_double_audio.pgm -init ":broker_method original_env :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open
PROCESS: $AUDIO_HOME/acl/testaudio_send -contact_hub localhost:12345
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open

TITLE: Environment double brokering for Allegro
REQUIRES: ALLEGROBIN
PROCESS: $AUDIO_HOME/acl/testaudio_send -assert
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open
PROCESS: $AUDIO_HOME/acl/testaudio_receive -port 18000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 1" --open
PROCESS: $AUDIO_HOME/acl/testaudio_receive -port 19000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 2" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/double_audio.pgm -init ":broker_method original_env :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Environment brokering for Allegro
REQUIRES: ALLEGROBIN
PROCESS: $AUDIO_HOME/acl/testaudio_send -assert
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open
PROCESS: $AUDIO_HOME/acl/testaudio_receive -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/env_audio.pgm -init ":broker_method proxy_obj :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

# Java

TITLE: Environment brokering for Java
REQUIRES: JDK_HOME
PROCESS: $JDK_HOME/bin/java -classpath .$:$AUDIO_HOME/java/audio_example.jar$:$GC_JAR MainAudioOut -assert
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open
PROCESS: $JDK_HOME/bin/java -classpath .$:$AUDIO_HOME/java/audio_example.jar$:$GC_JAR MainAudioIn -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/env_audio.pgm -init ":broker_method proxy_obj :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Client environment double brokering for Java
REQUIRES: JDK_HOME
PROCESS: $JDK_HOME/bin/java -classpath .$:$AUDIO_HOME/java/audio_example.jar$:$GC_JAR MainAudioIn -port 18000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 1" --open
PROCESS: $JDK_HOME/bin/java -classpath .$:$AUDIO_HOME/java/audio_example.jar$:$GC_JAR MainAudioIn -port 19000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 2" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/client_double_audio.pgm -init ":broker_method original_env :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open
PROCESS: $JDK_HOME/bin/java -classpath .$:$AUDIO_HOME/java/audio_example.jar$:$GC_JAR MainAudioOut -contact_hub localhost:12345
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open

TITLE: Environment double brokering for Java
REQUIRES: JDK_HOME
PROCESS: $JDK_HOME/bin/java -classpath .$:$AUDIO_HOME/java/audio_example.jar$:$GC_JAR MainAudioOut -assert
PROCESS_MONITOR_ARGS: -T "Testaudio send" --open
PROCESS: $JDK_HOME/bin/java -classpath .$:$AUDIO_HOME/java/audio_example.jar$:$GC_JAR MainAudioIn -port 18000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 1" --open
PROCESS: $JDK_HOME/bin/java -classpath .$:$AUDIO_HOME/java/audio_example.jar$:$GC_JAR MainAudioIn -port 19000 -assert
PROCESS_MONITOR_ARGS: -T "Testaudio receive 2" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $AUDIO_HOME/double_audio.pgm -init ":broker_method original_env :audiofile $AUDIO_HOME/sample.voice"
PROCESS_MONITOR_ARGS: -T "Hub" --open
