INCLUDE: $GC_HOME/contrib/MITRE/templates/pm_settings.config
EXPAND: $LOCAL_HOME $GC_HOME/contrib/MITRE/examples/local_makefile
SUPPRESS_EXPANSIONS:

TITLE: Local makefile double for C
PROCESS: $LOCAL_HOME/double.$ARCHOS.bin -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $LOCAL_HOME/../double/double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open
