INCLUDE: $GC_HOME/contrib/MITRE/templates/pm_settings.config
EXPAND: $DEMO_ROOT $GC_HOME/contrib/MITRE/demos/toy-travel
EXPAND: $UNIT_TEST $GC_HOME/contrib/MITRE/tools/src/unit_test
SUPPRESS_EXPANSIONS:

TITLE: New greeting message
PROCESS: $DEMO_ROOT/$BINDIR/Dialogue -dialogue_data $GC_HOME/tutorial/toy-travel/short-example.frames
PROCESS_TITLE: Dialogue
PROCESS_MONITOR_ARGS: --open
PROCESS: $PYTHONBIN $UNIT_TEST/unit_tester.py --as_hub --frames $GC_HOME/tutorial/messages/greeting.frames localhost 18500
PROCESS_TITLE: Unit tester
PROCESS_MONITOR_ARGS: --open
