INCLUDE: $GC_HOME/contrib/MITRE/templates/pm_settings.config
EXPAND: $DOUBLE_HOME $GC_HOME/contrib/MITRE/examples/double
SUPPRESS_EXPANSIONS:

TITLE: Double for C
PROCESS: $DOUBLE_HOME/$BINDIR/double -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Complex double for C
PROCESS: $DOUBLE_HOME/$BINDIR/double -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $DOUBLE_HOME/$BINDIR/multiply -assert
PROCESS_MONITOR_ARGS: -T "Multiply" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/complex_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Validating complex double for C
PROCESS: $DOUBLE_HOME/$BINDIR/double -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $DOUBLE_HOME/$BINDIR/multiply -assert
PROCESS_MONITOR_ARGS: -T "Multiply" --open
PROCESS: $GC_HOME/$BINDIR/hub -validate -pgm_file $DOUBLE_HOME/wrong_complex_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Scriptless complex double for C
PROCESS: $DOUBLE_HOME/$BINDIR/double -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $DOUBLE_HOME/$BINDIR/multiply -assert
PROCESS_MONITOR_ARGS: -T "Multiply" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/scriptless_complex_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Logging complex double for C
PROCESS: $DOUBLE_HOME/$BINDIR/double -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $DOUBLE_HOME/$BINDIR/multiply -assert
PROCESS_MONITOR_ARGS: -T "Multiply" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/logging_complex_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Client complex double for C
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/client_complex_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open
PROCESS: $DOUBLE_HOME/$BINDIR/multiply -contact_hub localhost:2900
PROCESS_MONITOR_ARGS: -T "Multiply" --open
PROCESS: $DOUBLE_HOME/$BINDIR/double -contact_hub localhost:2800
PROCESS_MONITOR_ARGS: -T "Double" --open

TITLE: Continuation double for C
PROCESS: $DOUBLE_HOME/$BINDIR/double -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/continuation_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

# And now some of the others.

# Python

TITLE: Double for Python
PROCESS: $PYTHONBIN $DOUBLE_HOME/python/double.py -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Complex double for Python
PROCESS: $PYTHONBIN $DOUBLE_HOME/python/double.py -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $PYTHONBIN $DOUBLE_HOME/python/multiply.py -assert
PROCESS_MONITOR_ARGS: -T "Multiply" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/complex_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Client complex double for Python
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/client_complex_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open
PROCESS: $PYTHONBIN $DOUBLE_HOME/python/multiply.py -contact_hub localhost:2900
PROCESS_MONITOR_ARGS: -T "Multiply" --open
PROCESS: $PYTHONBIN $DOUBLE_HOME/python/double.py -contact_hub localhost:2800
PROCESS_MONITOR_ARGS: -T "Double" --open

TITLE: Continuation double for Python
PROCESS: $PYTHONBIN $DOUBLE_HOME/python/double.py -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/continuation_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

# Allegro

TITLE: Double for Allegro
REQUIRES: ALLEGROBIN
PROCESS: $DOUBLE_HOME/acl/double -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Complex double for Allegro
REQUIRES: ALLEGROBIN
PROCESS: $DOUBLE_HOME/acl/double -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $DOUBLE_HOME/acl/multiply -assert
PROCESS_MONITOR_ARGS: -T "Multiply" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/complex_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Client complex double for Allegro
REQUIRES: ALLEGROBIN
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/client_complex_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open
PROCESS: $DOUBLE_HOME/acl/multiply -contact_hub localhost:2900
PROCESS_MONITOR_ARGS: -T "Multiply" --open
PROCESS: $DOUBLE_HOME/acl/double -contact_hub localhost:2800
PROCESS_MONITOR_ARGS: -T "Double" --open

TITLE: Continuation double for Allegro
REQUIRES: ALLEGROBIN
PROCESS: $DOUBLE_HOME/acl/double -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/continuation_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

# Java 

TITLE: Double for Java
REQUIRES: JDK_HOME
PROCESS: $JDK_HOME/bin/java -classpath .$:$DOUBLE_HOME/java/double_example.jar$:$GC_JAR DoubleServer -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Complex double for Java
REQUIRES: JDK_HOME
PROCESS: $JDK_HOME/bin/java -classpath .$:$DOUBLE_HOME/java/double_example.jar$:$GC_JAR DoubleServer -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $JDK_HOME/bin/java -classpath .$:$DOUBLE_HOME/java/double_example.jar$:$GC_JAR Multiply -assert
PROCESS_MONITOR_ARGS: -T "Multiply" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/complex_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open

TITLE: Client complex double for Java
REQUIRES: JDK_HOME
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/client_complex_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open
PROCESS: $JDK_HOME/bin/java -classpath .$:$DOUBLE_HOME/java/double_example.jar$:$GC_JAR Multiply -contact_hub localhost:2900
PROCESS_MONITOR_ARGS: -T "Multiply" --open
PROCESS: $JDK_HOME/bin/java -classpath .$:$DOUBLE_HOME/java/double_example.jar$:$GC_JAR DoubleServer -contact_hub localhost:2800
PROCESS_MONITOR_ARGS: -T "Double" --open

TITLE: Continuation double for Java
REQUIRES: JDK_HOME
PROCESS: $JDK_HOME/bin/java -classpath .$:$DOUBLE_HOME/java/double_example.jar$:$GC_JAR DoubleServer -assert
PROCESS_MONITOR_ARGS: -T "Double" --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $DOUBLE_HOME/continuation_double.pgm
PROCESS_MONITOR_ARGS: -T "Hub" --open
