INCLUDE: $GC_HOME/contrib/MITRE/templates/pm_settings.config
EXPAND: $DEMO_ROOT $GC_HOME/contrib/MITRE/demos/toy-travel
EXPAND: $UNIT_TEST $GC_HOME/contrib/MITRE/tools/src/unit_test
SUPPRESS_EXPANSIONS:

TITLE: Nonmatching message
PROCESS: $DEMO_ROOT/$BINDIR/Parser -parser_data $GC_HOME/tutorial/toy-travel/short-example.frames
PROCESS_TITLE: Parser
PROCESS_MONITOR_ARGS: --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $GC_HOME/tutorial/servers/parse.pgm -suppress_pacifier
PROCESS_TITLE: Hub
PROCESS_MONITOR_ARGS: --open
PROCESS: $PYTHONBIN $UNIT_TEST/unit_tester.py --as_server --ignore_reinitialize --service_type UI --frames $GC_HOME/tutorial/program_file/nomatch.frames localhost 14500
PROCESS_TITLE: Unit tester server
PROCESS_MONITOR_ARGS: --open
