INCLUDE: $GC_HOME/contrib/MITRE/templates/pm_settings.config
EXPAND: $DEMO_ROOT $GC_HOME/contrib/MITRE/demos/toy-travel
SUPPRESS_EXPANSIONS:
ARGUMENTS: data_file

TITLE: Audio client
PROCESS: $DEMO_ROOT/$BINDIR/Audio -audio_data $1 -contact_hub localhost:2800 -verbosity 0
PROCESS_TITLE: Audio client
PROCESS_MONITOR_ARGS: --open --input_return
