INCLUDE: $GC_HOME/contrib/MITRE/templates/pm_settings.config
EXPAND: $DEMO_ROOT $GC_HOME/contrib/MITRE/demos/toy-travel
EXPAND: $DEMO_BIN $DEMO_ROOT/$BINDIR
EXPAND: $PM_SRC $GC_HOME/contrib/MITRE/tools/src/process_monitor
SUPPRESS_EXPANSIONS:

ARGUMENTS: data_file program_file

COMPRESSED:
NUM_DIVISIONS: 3

TITLE: Toy travel
PROCESS: $DEMO_BIN/Recognizer -recognizer_data $1
PROCESS_TITLE: Recognizer
PROCESS_MONITOR_ARGS: --open
PROCESS: $DEMO_BIN/Parser -parser_data $1
PROCESS_TITLE: Parser
PROCESS_MONITOR_ARGS: --open
PROCESS: $DEMO_BIN/Dialogue -dialogue_data $1
PROCESS_TITLE: Dialogue
PROCESS_MONITOR_ARGS: --open
PROCESS: $DEMO_BIN/Backend -backend_data $1
PROCESS_TITLE: Backend
PROCESS_MONITOR_ARGS: --open
PROCESS: $DEMO_BIN/Generator -generator_data $1
PROCESS_TITLE: Generator
PROCESS_MONITOR_ARGS: --open
PROCESS: $DEMO_BIN/Synthesizer -synthesizer_data $1
PROCESS_TITLE: Synthesizer
PROCESS_MONITOR_ARGS: --open
PROCESS: $DEMO_BIN/IOMonitor -verbosity 0
PROCESS_TITLE: IOMonitor
PROCESS_MONITOR_ARGS: --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $2 -suppress_pacifier
PROCESS_TITLE: Hub
PROCESS_MONITOR_ARGS: --open --input_return
# I don't include this directly because I want it
# to operate independently of the servers for start/stop/clear.
PROCESS: $PYTHONBIN $PM_SRC/process_monitor.py $DEMO_ROOT/toy-travel-audio.config -- $1
PROCESS_TITLE: Audio client
PROCESS_MONITOR_ARGS: --open
PROCESS: $PYTHONBIN $PM_SRC/process_monitor.py $DEMO_ROOT/toy-travel-ui.config -- $1
PROCESS_TITLE: UI client
PROCESS_MONITOR_ARGS: --open
